<div id="print-section" class="p-2"> 
    <mat-card id="card">
      
        <div *ngIf="user$ | async as user" class="container text-center" style="width:50% ;">
          <h2 class="text-info">Detalle De Tècnicos Registrados en el Sistema</h2>
          <mat-card-title>Id: {{user.technicalId}}</mat-card-title>
            <mat-card-content>
                <h3>Nombre Completo: {{user.technicalFullName}}</h3>
                <h3>Còdigo: {{user.technicalCode}}</h3>
                <h3>Salario: {{user.technicalSalary}}</h3>
                <h3>Còdigo Sucursal: {{user.branchOfficeCode}}</h3>
                <h3>Nombre Sucursal: {{user.branchOfficeName}}</h3>   
                           
            </mat-card-content>  
                      
        </div>
      </mat-card>       
    </div>
  <div>
    <button printSectionId="print-section" ngxPrint mat-raised-button class="my-5 me-2">Print</button>
        <button routerLink="/Login" mat-raised-button class="">Back</button>
   </div>
        
