<div class="container text-center bg-primary display-2">
  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>group</mat-icon>Tecnicos</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink='/Usuarios'>Listado</button>
    <button mat-menu-item routerLink='/ResumeBranch'>Informe X sucursal</button>
  </mat-menu>
  <mat-icon>assignment</mat-icon>
<button mat-button [matMenuTriggerFor]="aboveMenu">Remisiones</button>

<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink='/remission'>Listado</button>  
  <button mat-menu-item routerLink='/ResumeItem'>Informe X elementos</button>
</mat-menu>

</div>


